<template>
    
    <div>
        <h2>
            Home page
        </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab non necessitatibus dicta explicabo natus veritatis, animi incidunt officiis perferendis nemo ullam dolore ex, itaque quaerat quas laboriosam, amet facere corrupti.

        </p>
        <router-link to="/todos">Link for todos</router-link>
    </div>
</template>