<template>
  <div>
    <h2>List of todos</h2>
    <router-link to='/'>Home page</router-link>
    <hr>
    <AddTodo 
    @add-todo="addTodo"/>
    <select v-model="filter">
        <option value="all">All</option>
        <option value="completed">Completed</option>
        <option value="not-completed">Not Completed</option>
    </select>
    <hr>
    <Loader v-if="loading"/>

    <TodoList
    v-else-if="filteredTodos.length"
      v-bind:todos="filteredTodos"
      @remove-todo="removeTodo"
    />
    <p v-else>No items in our list</p>
  </div>
  
</template>

<script>
import TodoList from '../components/TodoList.vue'
import AddTodo from '../components/AddTodo.vue';
import Loader from '../components/Loader.vue'

export default {
  name: "App",
  data() { // данные - которые можно передавать - относятся к нашему приложению - метод служит для создания определенных данных для работы с вью
  // в этом методе мы возвращаем объект - ключ- название переменной плюс ее значение
    return {
        todos: [],
        loading: true,
        filter: 'all'
      }
  },
  mounted() {
    fetch('https://jsonplaceholder.typicode.com/todos?_limit=3')
    .then(response => response.json())
    .then(json => {
        setTimeout(() => {
            this.todos = json // помещаем весь ответ от сервера в наш массив
            this.loading = false
        }, 1000)

    })
  },
//   watch: { // создаем функцию название которой должно совпадать за моделью - за которой мы следим
//     filter(value){
//         console.log(value) //  take this from option value

//     }
//   },
    computed: { // прописываем здесь логику, которая зависит от каких-либо моделей или переменных, которые меняются
        filteredTodos() {
            if(this.filter === 'all'){
                return this.todos // если выбрано все - вернем весь массив
            }

            if(this.filter === 'completed'){
                return this.todos.filter(item => item.completed)
            }

            if(this.filter === 'not-completed'){
                return this.todos.filter(item => !item.completed)
            }
            
            return this.todos
        }
    },
  methods: {
    removeTodo(id){
      this.todos = this.todos.filter(item => item.id !== id) // выбранный айди должен быть убран
    },
    addTodo(todo){
      this.todos.push(todo) // обращаемся к нашему массиву и добавляем в него новый объект
    }
  },
  components: {
    TodoList,
    AddTodo,
    Loader
  },
};
</script>