<template>
    <form @submit.prevent="onSubmit">
        <input type="text" v-model="title">
        <button type='submit'>Create</button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            title: '' // создаем пустую строку при помощи модели - куда будет записываться наш текст
        }
    },
    methods: {
        onSubmit(){
            console.log('submit', this.title)
            if(this.title.trim()){ // проверяем - написано ли что-то
                const newTodo = { // создаем новый объект
                    id: Date.now(),
                    title: this.title,
                    completed: false
                }


                this.$emit('add-todo', newTodo) // сообщаем нашему компоненту выше новое событие и передаем новый компонент
                this.title = ''
            }
        }
    }
}
</script>

<style scoped>
    form {
        display: flex;

    }

    input {
        width: 400px;
    }
</style>