<template>
    <li>
       <div v-bind:class="{done: item.completed}">
           <input type="checkbox"  v-on:change="item.completed = !item.completed">
           <strong>{{index + 1}}</strong>
           {{todo.title}}
       </div>
       <button class='delete' 
       v-on:click="$emit('remove-todo', todo.id)">&times;</button>
    </li>
</template>
<script>
export default {
    props: {
        todo: {
                type:Object,
                required: true
            },
        index: Number
    },
    data() {
        return {
            item : this.todo
        }
    },


}
</script>

<style scoped>
    li {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 5px 20px;
    }
    .delete {
        background: red;
        color: #fff;
        border-radius: 50%;
        font-weight: bold;
    }

    .done {
        text-decoration: line-through;
    }
</style>