<template>
    <div>
        <ul>
            <TodoItem
            v-for="(todo, i) of todos" :key="todo.id"
            v-bind:todo="todo"
            v-bind:index="i"
            v-on:remove-todo="removeTodo"
            />
        </ul>
    </div>
</template>
<script>
import TodoItem from './TodoItem.vue'
export default { // экспортируем нужный нам компонент
    props: ['todos'], // название пропса должно совпадать с названием, которое мы передаем в v-bind
    components : {
        TodoItem
    },
    methods: {
        removeTodo(id){
            this.$emit('remove-todo', id)
        }
    }
}
</script>

<style scoped>
    ul {
        list-style: none;
        margin: 0;
        padding: 0
    }
    
</style>